/**************************************************** General *****************************************************************************/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --dark-grey: #D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

a {
    text-decoration: none;
    color: unset;
}

.main-container {
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/**************************************************************** Navbar *******************************************************************/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    height: 19px;
    width: 61px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    padding: 0 25px 74px 25px;
    gap: 68px;
    /* padding: 0 25px; */
}

.navbar li:hover {
    color: var(--main-color);
}

/**************************************************************** Entête *******************************************************************/
.entete .titre {
    line-height: 12px;
    margin: 30px 0px;
}

/* --- LA BARRE DE RECHERCHE --- */

.recherche {
    display: flex;
    align-items: center;
}

/* icone */
.recherche .fa-xs {
    color: black;
    font-size: 1.2em;
    margin: 25px 18px 25px 20px;
}

.recherche div {
    border-radius: 15px 0px 0px 15px;
    border: 1px;
    background-color: var(--main-bg-color);
}

/* zone de texte */
.recherche .txtarea {
    padding: 13px 0px 13px 28px;
    border: solid 2px var(--main-bg-color);
    font-size: 1.2em;
    font-weight: bold;
}

/* bouton de recherche */
.recherche button {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--main-color);
    color: var(--main-bg-color);
    padding: 15px 16px;
    font-size: 18px;
    border: none;
    font-weight: bold;
}

/* --- LES FILTRES --- */
.filtres {
    display: flex;
    align-items: center;
    padding: 30px 0px;
}

.filtres .fa-xs {
    font-size: 1.2em;
    margin: 22px 24px 16px 0px;
}

.filtres h2 {
    margin-right: 20px;
}

.filtres span {
    margin-right: 20px;
    display: block;
    font-size: 1.2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.filtres-container {
    display: flex;
    gap: 20px;
}

.filtre {
    display: flex;
    padding: 0px 18px;
    border-radius: 25px;
    border: solid 2px var(--dark-grey);
    background-color: white;
}

.filtre:hover {
    background-color: var(--filter-bg-color);
}

/* --- INFORMATIONS --- */

.info {
    width: 100%;
    margin: 0;
    font-size: 16px;
    line-height: 18px;
}


/**************************************************** Hebergements And Populaires **********************************************************/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/**************************************************** Hebergements *************************************************************************/
.hebergements {
    width: 65%;
}

.hebergements h2 {
    margin: 0;
}

.hebergements-title .afficher {
    font-size: 22px;
    display: block;
    /* font-size: 1.17em; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    margin-top: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
}

.hebergements a {
    flex: 1;
}

.central {
    margin: 0 30px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-title .afficher {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    margin: 30px 0 0 0;
}

/**************************************************** Populaires ***************************************************************************/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires a {
    flex: 1;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*************************************************** Activités à Marseilles ***************************************************************/
.activities {
    height: 559px;
    padding: 30px;
}

.activities h2 {
    margin: 0;
}

.activities .card img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.activities a {
    flex: 1;
}

.activities .card {
    width: 100%;
    height: 439px;
    border-radius: 20px;
    margin-top: 33px;
}

.activities-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    box-sizing: border-box;
}

.activities .card h3 {
    margin: 0;
    padding: 20px 19px;
}

/***************************************************** Footer ***************************************************************************/
.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    padding: 20px;
}


.footer-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-block h2 {
    margin: 0;
    font-size: 18px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/*************************************************** Media queries *************************************************************************/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* ********************************************* RESPONSIVE ********************************************* */

/* Small devices (phones, less than 768px) */
@media all and (max-width: 768px) {

    /* filtres */
    .filtres {
        display: initial;
    }

    .filtre {
        padding: 0px 9px;
        /* justify-content: center; */
    }

    .filtres-container {
        gap: 15px;
        flex-wrap: wrap;
        /*retour à la ligne*/
    }

    .filtres .fa-xs {
        margin: 22px 10px 16px 10px;
    }

    /* activités */
    .activities {
        height: 1000px;
    }

    .activities-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .activities .card img {
        height: 170px;
    }

    .activities .card {
        height: 220px;
        margin-top: 0px;
    }

    .activities h2 {
        margin: 0;
        padding-bottom: 15px;
    }

    .activities h3 {
        /* text-align:center; */
        /* line-height: 1.17em; */
        margin: 0;
        /* Padding : 20px, 19px; */
    }

    /* footer */
    .foot {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .footer-block {
        margin: 25px;
    }

}

/* Tablettes (between 768px and 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    /* entete */
    .entete .titre{
        margin: 0;
        padding-bottom: 35px;
    }

    .filtres {
        display: initial;
    }

    .filtre {
        padding: 0px 9px;
    }

    .filtres-container {
        gap: 15px;
    }

    /* .filtres .fa-xs {
        margin: 22px 10px 16px 10px;
    } */

    .filtres h2 {
        /* margin: 0px; */
        padding-top: 35px;
    }

    .filtres-container .filtre{
        margin-bottom: 35px;
    }

    /* Hébergements & Populaires */
    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards .card {
        width: 91%;
    }

    .activities-cards {
        gap: 20px;
    }

    .populaires-cards .card-content {
        padding-left: 8px;
    }

    /* Activités */
    .activities {
        height: 400px;
    }

    .activities .card {
        width: 100%;
        height: 270px;
    }

    .activities .card h3 {
        width: 100%;
        margin: 15px 0px;
        padding: 0;
    }


    .activities .card img {
        height: 200px;
    }

    .footer-block {
        flex: auto;
    }
}