/**************************************************** General *****************************************************************************/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

a {
    text-decoration: none;
    color: unset;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/**************************************************************** Entête *******************************************************************/
.entete {
    margin-bottom: 35px;
}

.entete img {
    height: 79px;
    padding-bottom: 35px;
}

.recherche {
    display: grid;
    grid-template-columns: 3% 10% 10%;
    align-items: start;
    justify-content: left;
    /* text-align: center; */
    padding: 35px 0px;
    border: 1px;
}

.recherche button {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color: #F2F2F2;
    /* padding: 15px 16px; */
    /* height: 49px;
    font-size: 18px; */
}

.filtres {
    display: grid;
    grid-template-columns: 5% 10% 10% 10% 10%;
    align-items: start;
    justify-content: left;
    /* justify-content: space-between; */
    /* height: 50px;
    font-size: 17px; */
}

.filtres button {
    /* height: 50px; */
    border-radius: 25px;
    /* font-size: 17px; */
}

.i {
    width: 100%;
    height: 24px;
    padding-top: 35px;
}

/**************************************************** Hebergements And Populaires **********************************************************/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/**************************************************** Hebergements *************************************************************************/
.hebergements {
    width: 65%;
    /* padding: 30px; */
}

.hebergements-title h2{
    margin: 0;
    font-size: 22px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 15px; */
}

.hebergements-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    /* padding-bottom: 15px; */
    margin-top: 30px;
    /* margin: 15px; */
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
}

.hebergements a {
    flex: 1;
}

.central{
    margin: 0 30px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-title .afficher {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    margin: 30px 0 0 0;
}

/**************************************************** Populaires ***************************************************************************/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires a {
    flex: 1;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*************************************************** Activités à Marseilles ***************************************************************/
.activities {
    width: 100%;
    height: 559px;
    padding: 30px;
}

.activities .card img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.activities a {
    flex: 1;
}

.activities .card {
    width: 100%;
    height: 439px;
    border-radius: 20px;
    margin-top: 33px;
}

.activities-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    box-sizing: border-box;
}

/***************************************************** Footer ***************************************************************************/
.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    padding: 20px;
}


.footer-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-block h2 {
    margin: 0;
    font-size: 18px;
}


/* Pages liées au footer (<a>) */
.fct {
    display: flex;
    justify-content: space-between;
}

.fct section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.explication {
    width: 100%;
}

.explication-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formulaire ul {
    list-style: none;
    /* Pour supprimer les points de la liste dans le formulaire */
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/*************************************************** Media queries *************************************************************************/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}